<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Equipments list</title>
</head>
<body>
<H1> Где Русский язык?????</H1>

<div>
    <button type="submit" onclick="location.href='/equipment-create'">Забабахать новое оборудование</button>

    <table>
        <tr th:each="equipment: ${equipments}">
        <td style="border: 1px solid black" th:text="${equipment.getNumberPosition()}"></td>
        <td style="border: 1px solid black" th:text="${equipment.getName()}"></td>
        <td style="border: 1px solid black" th:text="${equipment.getShipCondition()}"></td>
        <td style="border: 1px solid black" ><a th:href="@{equipment-update/id={id}(id=${equipment.getId})}">Edit</a></td>
        <td style="border: 1px solid black" ><a th:href="@{equipments/?equipment_id={id}(id=${equipment.getId})}">Delete</a></td>

    </tr>
</table>
</div>

<div>
    <button type="submit" onclick="location.href='/defect-create'">Забабахать новый дефект</button>

    <table>
        <tr th:each="defect: ${defects}">
            <td style="border: 1px solid black" th:text="${defect.getName()}"></td>
            <td style="border: 1px solid black" th:text="${defect.getDefectDescription()}"></td>
            <td style="border: 1px solid black" th:text="${defect.getDate()}"></td>
            <td style="border: 1px solid black" ><a th:href="@{defect-update/?id={id}(id=${defect.getId})}">Edit</a></td>
            <td style="border: 1px solid black" ><a th:href="@{equipments/?defect_id={id}(id=${defect.getId})}">Delete</a></td>

        </tr>
    </table>
</div>
</body>
</html>